.contenedor {
    display: flex;
    width: 100%;
    padding: 10px;
}

section {
    padding: 5px;
    display: flex;
}

.direccion_en_columna {
    flex-direction: column;
}
.fuente_azul {
    color: blue;
}

.fondo_azul {
    background-color: blue;
}
.titular {
    font-weight: bold;
    font-size: 2.5rem;
}
.size_50 {
    width: 50%;
}

.resaltado_verde {
    background-color: aquamarine;
    color: white;
    padding: 5px;
    border-radius: 6px;
    width: fit-content;
}

.bordes_solidos {
    border: 1px solid;
}

.boton_opciones {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton_opciones .prinPerso{
    background-color: blue;
    color: white;
}