/* Secciones en columnas*/
section {
    padding: 5px;
    display: flex;
}

.contenedor__principal {
    display: flex;
    width: 100%;
    padding: 10px;
}

.direccion_en_columna {
    flex-direction: column;
}
.fuente_azul {
    color: blue;
}
.fondo_azul {
    background-color: blue;
}
.titular {
    font-weight: bold;
    font-size: 2.5rem;
}

.size_50per {
    width: 50%;
}

.resaltado_verde {
    background-color: aquamarine;
    color: white;
    padding: 5px;
    border-radius: 6px;
    width: fit-content;
}

/* Tarjetas */
.justificado_con_espacios {
    margin-top: 3rem;
}

.commandGroup {
    padding: 15px;
}

.commandGroup button {
    background-color: blue;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    margin: 10px;
}