header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    background-color: var(--cards);
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 10;
    margin-bottom: .6rem;
}

header .headerContainer {
    display: flex;
    align-items: center;
}

.headerContainerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: bold;
    width: 100%;
}

.imagen_logo {
    width: 150px;
}

.menuHambur {
    display: none;
}

.menuResponsive {
    display: none;
}

@media (max-width: 480px) {
    .menuHambur {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
    }

    .menuResponsive {
        display: block;
        font-size: 2.5rem;
        color: #121212;
    }

    .headerContainer {
        width: 100%;
    }

    .headerContainerImg {
        width: 70%;
        display: flex;
        justify-content: start;

    }

    header .headerContainerImg span {
        display: none;
    }

}