.dropdownContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: .5rem;
    width: 100%;
    flex-wrap: wrap;
    animation: slideInY .60s ease forwards;
}

.dropdownContainer .dropdownHeader .tituloFiltros {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.dropdownContainer .dropdownContainerCat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}



.cerrarFiltros {

    display: none;

}

.dropdownContainer .categoriaPrincipal {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 90%;
    padding: 10px;

}

.dropdownContainer .categoriaPrincipal .categoriaTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.dropdownContainer .categoriaPrincipal .categoriaTitulo ion-icon {
    transition: transform .25s ease;
}

.dropdownContainer .categoriaPrincipal .subcategorias {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: .5rem 1.5rem;
    width: 100%;
    animation: desplegar .3s ease;
}

/*--animaciones--*/

@keyframes slideOutY {

    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-50px);
    }

}

@keyframes slideInY {

    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes desplegar {
    from {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
    }

    to {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: top;
    }

}


/*RESPONSIVE CELUS*/
@media (max-width:480px) {


    .dropdownContainer {
        position: fixed;
        top: 8rem;
        background-color: rgb(230, 245, 240);
        z-index: 50;
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: .5rem;
    }

    .dropdownContainer .dropdowContainerCat {
        width: 220px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid grey;
        border-radius: 20px;

        padding: 8px 15px;
    }

    .dropdownContainer .dropdowContainerCat label {

        width: 100%;

        display: flex;
        align-items: start;
        justify-content: start;

        gap: .3rem;

    }

    .dropdownContainer {

        position: fixed;

        top: 0;
        left: -100%;

        width: 75%;

        height: 100vh;

        background: white;

        transition: left .35s ease;

        z-index: 6001;

        padding: 1rem;

    }

    .dropdownAbierto {

        left: 0;

    }

    .cerrarFiltros {

        display: block;

        font-size: 2rem;

        cursor: pointer;

    }

}