.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.nav-list li {
    margin: 1rem;
    padding: 5px;
    transition: 0.3s ease;
    position: relative;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}

.nav-list li::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: var(--primario);

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.3s ease;
}

.nav-list li:hover::after {
    transform: scaleX(1);
}

.nav-list li:has(.activo)::after {
    transform: scaleX(1);
}

.nav-list li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*--animaciones--*/

@keyframes slideOut {

    from {

        transform: translateX(0);

    }

    to {

        transform: translateX(100%);

    }

}
@keyframes slideIn{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@media (max-width: 480px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 8%;
        left: 0;
        z-index: 100;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 500px;
        justify-content: center;
        align-items: center;
         animation:slideIn .35s forwards;
    }

    .nav-list li {
        width: 40%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-list.abierto {
        display: flex;
    }

    .slideIn {
        animation: slideIn .35s forwards;
    }

    .slideOut {
        animation: slideOut .35s forwards;
    }

}