.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 1rem;
    padding: 5px;
    transition: 0.3s ease;
    position: relative;

}

.nav-list li::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: rgb(102, 73, 30);

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.3s ease;
}
.nav-list li:hover::after {
    transform: scaleX(1);
}
.nav-list li:has(.activo)::after {
    transform: scaleX(1);
}
.nav-list li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}